VITE_PRODUCTOS_API_MODO=remoto
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/XXXXXXXX/exec
VITE_ADMIN_API_TOKEN=CAMBIAR_POR_TOKEN_REAL
VITE_ADMIN_USER=CAMBIAR_POR_USUARIO_ADMIN
VITE_ADMIN_PASSWORD=CAMBIAR_POR_PASSWORD_ADMIN
